* {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: white;
    color: #141414;
    font-family: 'Poppins', sans-serif;   
    margin: 0;
}

/*Prova adattamento sito per grandi monitor*/
/*.main-section {
    max-width: 1400px;
    margin: 3.9vw auto 6.51vw auto;
}*/

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

/*Navbar*/

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: color 0.1s, fill 0.1s !important;
}

.header-light {
    color: #F5F5F5;
    background-color: #14141400;
}

.header-dark {
    color:#141414;
    background-color: #F5F5F500;
}

.hero-light {
    color: #F5F5F5;
}

.hero-dark {
    color:#141414;
}

.header-scrolled {
    background-color: #141414;
    color: #F5F5F5;
}

.header-scrolled > #hr-nav {
    display: none;
}

.header-scrolled svg {
    fill: #F5F5F5 !important;
}

#marchio-sito {
    color: inherit;
}

#hr-nav {
    border-top: 1px;
    margin-inline: 60px;
}

.hr-nav-light {
    border-color: #F5F5F5;
}

.hr-nav-dark {
    border-color: #141414;
}

#navbar-list ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    width: fit-content;
    text-align: center;
}

#navbar-list ul a {
    text-decoration: none;
    color: inherit;
}

#navbar-list li :hover {
    font-weight: 600;
    text-decoration: underline;
}

#nav-main {
    display: flex;
    justify-content: space-between;
    margin: 10px 6.6vw;
}

header p {
    font-weight: 600;
}

.nav-item {
    width: 60px;
    text-align: center;
}

/*Hamburger menu*/

#hamburger-menu {
    background-color: #141414F0;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: none;
    backdrop-filter: blur(4px);
}

.menu-light svg {
    fill: #F5F5F5;
}

.menu-dark svg {
    fill: #141414;
}

.menu-item a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 22px;
}

.menu-item :hover {
    font-weight: 600;
}

.menu-icon {
    width: 18px;
    margin-right: 16px;
}

#menu {
    margin-top: 60px;
}

#menu p {
    color: #F5F5F5F0;
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 30px 18vw;
}

#menu-list {
    margin-left: 18vw;
}

.menu-item {
    margin-bottom: 12px;
    list-style-type: none;
}


#menu-list-footer {
    display: flex;
    list-style-type: none;
    margin: 60px 0 0 18vw;
    gap: 16px;
}

.menu-item-footer {
    color: #F5F5F5;
    font-size: 16px;
    margin-bottom: 8px;
}

#menu-list-footer a {
    text-decoration: none;
}

#menu-list-footer :hover {
    text-decoration: underline;
    color: #7f7f7f;
}

#menu-xmark {
    width: 22px;
    margin: 5vw 90vw 0;
    pointer-events: none;
}

.menu-visible {
    display: block !important;
}

#hamburger-button {
    display: none;
    width: 20px;
    height: 10px;
}

/*Hero section*/

#hero-section img {
    width: 100%;
}

#testo-hero {
    color: #F5F5F5;
    position: absolute;
    z-index: 0;
    top: 10vw;
    left: 6.6vw;
}

#hero-titolo {
    font-size: 6vw;
    font-weight: bold;
}

#hero-sottotitolo {
    font-size: 2vw;
    font-weight: 600;
    line-height: 1.3;
    width: 30vw;
    margin-bottom: 16px;
}

#hero-paragrafo {
    font-size: 1.4vw;
    width: 30.1vw;
    line-height: 1.3;
}


/*Sezioni del main*/

#sezione-inaugurazione, #sezione-artisti-in-mostra, #sezione-info-utili {
    margin: 3.9vw 6.6vw 6.51vw 6.6vw;
}

#testo-inaugurazione, .testo-artisti-in-mostra, .testo-info-utili {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hr-sezione {
    margin: 0 0 60px 0;
}

.testo-artisti-in-mostra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
}

h1 {
    margin-bottom: 16px;
}

.testo-sx {
    font-weight: bold;
    width: 30vw;
}

.testo-dx {
    width: 41.92vw;
    margin-bottom: 20px;
}

.testo-info-utili {
    margin-bottom: 60px;
}

#mappa-aba {
    width: 41.92vw;
    height: 33.98vw;
    margin-top: 40px;
}

#sezione-info-utili {
    margin-bottom: 60px;
}

/*Card artisti*/

.blocco-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0.65vw;
}


.card {
    padding-inline: 10px;
    width: 220px;
    height: 250px;
}

.card img {
    width: 220px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

.card-title {
    background-color: #141414F0;
    color: #F5F5F5;
    margin-top: -54px;
    position: relative;
    padding: 12px 12px 12px 20px;
    border-radius: 0 0 20px 20px;
    font-weight: 600;
}

.sezione-artisti-in-mostra-box-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*Animazione card artisti*/

.card-animazione {
    border-radius: 20px;
}

.card-animazione a {
    text-decoration: none;
}


.card-animazione:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/*Footer*/

#hr-footer {
    border-top: 1px;
    color: #141414;
    margin-inline: 60px;
}

#blocco-footer {
    margin: 0 6.6vw;
}

#aba-footer {
    margin: 20px 0 16px 0;
}

#info-footer {
    display: flex;
    gap: 32px;
}

#info-footer a {
    text-decoration: none;
    color: #141414;
}

#info-footer :hover {
    text-decoration: underline;
    color: #7f7f7f;
}

#info-footer-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#icons-footer {
    width: 115px;
    gap: 32px;
    display: inherit;
}


/*PAGINA ARTISTI - classi css della homepage ripetute con l'aggiunta del numero 2*/

.sezione-artisti-in-mostra-box-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    row-gap: 60px;
    column-gap: 50px;
    margin: 0 auto;
}

.card-artisti, .card-artisti img {
    width: 230px;
    height: 280px;
}

.card-artisti .card-title {
    padding: 22px 12px 22px 20px;
    margin-top: -74px;
    font-size: 18px;
}

/*Pagine dettaglio artisti*/

.elenco-opere a {
    color: inherit;
}

#button {
    display: inline-block;
    margin: 60px 6.6vw;
}

/*Pagine dettaglio artisti - Sanna Mander*/

#elenco-opere-sannamander a:hover {
    color: #6dc2a4;
}

/*Pagine dettaglio artisti - Michelle Thompson*/

#elenco-opere-michellethompson a:hover {
    color: palevioletred;
}

/*Pagine dettaglio artisti - Icinori*/

#elenco-opere-icinori a:hover {
    color: #e6954a
}


/*RESPONSIVE DESIGN*/

@media (max-width: 1250px) {
    .testo-artisti-in-mostra {
        grid-template-columns: 1fr;
    }

    .blocco-card {
        margin: 32px auto 32px auto;
    }

    #hero-paragrafo {
        font-size: 1.6vw;
    }
}

@media (max-width: 1100px) {
    
    #hero-titolo {
        font-size: 6.4vw;
    }

    #hero-sottotitolo {
        font-size: 2.4vw;
    }

    #hero-paragrafo {
        font-size: 2vw;
    }

    .sezione-artisti-in-mostra-box-card {
        column-gap: 12px;
    }
}

@media (max-width: 950px) {
    .sezione-artisti-in-mostra-box-card {
        grid-template-columns: 1fr 1fr;
        width: fit-content;
    }

    #mappa-aba {
        height: 41.92vw;
    }
}

@media (max-width: 800px) {
    
    #navbar-list ul {
        gap: 10px
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    .sezione-artisti-in-mostra-box-card {
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        row-gap: 0;
    }

    .blocco-card {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }

    .card {
        margin-bottom: 32px;
    }

    .testo-artisti-in-mostra {
        margin-bottom: 32px;
    }
}

@media (max-width: 650px) {
    .sezione-artisti-in-mostra-box-card {
        grid-template-columns: 1fr;
    }

    .blocco-card {
        grid-template-columns: 1fr;
        margin-top: 0;
    }

   .testo-artisti-in-mostra .testo-sx {
        display: none;
    }

    .testo-artisti-in-mostra {
        margin-bottom: 0;
    }

    .card {
        margin-bottom: 32px;
    }

    #hero-section img {
        height: 90vw;
        object-fit: cover;
        object-position: left bottom;
    }

    #testo-hero {
        top: 18vw;
    }

    #hero-titolo {
        font-size: 8.4vw;
    }

    #hero-sottotitolo {
        font-size: 3.4vw;
        width: 44vw;
    }

    #hero-paragrafo {
        font-size: 3.2vw;
        width: 44vw;
    }

    #testo-inaugurazione, .testo-info-utili {
        grid-template-columns: 1fr;
    }

    #testo-inaugurazione h2, .testo-info-utili h2, #testo-inaugurazione .testo-dx, .testo-info-utili .testo-dx, .hr-sezione {
        margin-bottom: 32px;
    }

    .testo-sx {
        width: 300px;
    }

    .testo-dx {
        width: 400px;
    }

    #mappa-aba {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 550px) {
    #navbar-list {
        display: none;
    }

    #hamburger-button {
        display: block;
    }
}

@media (max-width: 500px) {
    
    #testo-hero {
        top: 22vw;
    }
    
    .testo-dx {
        width: 100%;
    }

    #info-footer {
        gap: 20px;
    }
    
    #icons-footer {
        gap: 10px;
        height: 16px;
        align-self: center;
        justify-content: end;
    }
}

@media (max-width: 400px) {
    
    #testo-hero {
        top: 26vw;
    }
    
    #hero-titolo {
        font-size: 34px;
    }

    #hero-sottotitolo {
        font-size: 18px;
        width: 70vw;
    }

    #hero-paragrafo {
        display: none;
    }
}