* {
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: #141414;
    font-family: 'Poppins', sans-serif;   
    margin: 0;
}

img {
    max-width: 100%;
}

/*Navbar*/

header {
    position: fixed;
}

hr {
    color: #F5F5F5;
}

#navbar-list ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

#navbar-list ul a {
    text-decoration: none;
}

#nav-main {
    display: flex;
}

header p {
    margin-left: 50px;
}

#navbar-list {
    margin-right: 50px;
}

#hero-section img {
    width: 100%;
}