* {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: #141414;
    font-family: 'Poppins', sans-serif;   
    margin: 0;
}

h1 {
    font-size: 2.06vw;
}

h2 {
    font-size: 1.3vw;
    font-weight: normal;
}

/*Navbar*/

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-light {
    color: #F5F5F5;
    background-color: #14141400;
}

.header-dark {
    color:#141414;
    background-color: #F5F5F500;
}

.hero-light {
    color: #F5F5F5;
}

.hero-dark {
    color:#141414;
}

.header-scrolled {
    background-color: #141414;
    color: #F5F5F5;
}

.header-scrolled > #hr-nav {
    display: none;
}

#hr-nav {
    border-top: 1px;
    color: inherit;
    margin-inline: 60px;
}

#navbar-list ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    width: fit-content;
    text-align: center;
}

#navbar-list ul a {
    text-decoration: none;
    color: inherit;
}

#navbar-list li :hover {
    font-weight: 600;
    text-decoration: underline;
}

#nav-main {
    display: flex;
    justify-content: space-between;
    margin: 10px 6.6vw;
}

header p {
    font-weight: 600;
}

.nav-item {
    width: 60px;
    text-align: center;
}


/*Hero section*/

#hero-section img {
    width: 100%;
}

#testo-hero {
    color: #F5F5F5;
    position: absolute;
    z-index: 0;
    top: 10vw;
    left: 6.6vw;
}


#hero-titolo {
    font-size: 6vw;
    font-weight: bold;
}

#hero-sottotitolo {
    font-size: 2vw;
    font-weight: 600;
    line-height: 1.3;
    width: 30vw;
    margin-bottom: 16px;
}

#hero-paragrafo {
    font-size: 1.4vw;
    width: 30.1vw;
    line-height: 1.3;
}


/*Sezioni del main*/

#sezione-inaugurazione, #sezione-artisti-in-mostra, #sezione-info-utili {
    margin: 3.9vw 6.6vw 6.51vw 6.6vw;
}

#testo-inaugurazione, .testo-artisti-in-mostra, .testo-info-utili {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hr-sezione {
    margin: 0 0 60px 0;
}

.testo-artisti-in-mostra img {
    width: 220px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

.testo-artisti-in-mostra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
}

h1 {
    margin-bottom: 16px;
}

.testo-sx {
    font-weight: bold;
    width: 30vw;
}

.testo-dx {
    width: 41.92vw;
    margin-bottom: 20px;
}

.testo-info-utili {
    margin-bottom: 60px;
}

#mappa-aba {
    width: 41.92vw;
    height: 33.98vw;
    margin-top: 40px;
}

#sezione-info-utili {
    margin-bottom: 60px;
}


/*Footer*/

#hr-footer {
    border-top: 1px;
    color: #141414;
    margin-inline: 60px;
}

#blocco-footer {
    margin: 0 6.6vw;
}

#aba-footer {
    margin: 20px 0 16px 0;
}

#info-footer {
    display: flex;
    gap: 32px;
}

#info-footer a {
    text-decoration: none;
    color: #141414;
}

#info-footer :hover {
    text-decoration: underline;
    color: #7f7f7f;
}


#info-footer-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#icons-footer {
    width: 115px;
    gap: 32px;
    display: inherit;
}

/*Card artisti*/

.blocco-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0.65vw;
}


.card {
    padding-inline: 10px;
    width: 220px;
    height: 250px;
}

.card-title {
    background-color: #141414F0;
    color: #F5F5F5;
    margin-top: -54px;
    position: relative;
    padding: 12px 12px 12px 20px;
    border-radius: 0 0 20px 20px;
    font-weight: 600;
}

/*Animazione card artisti*/

.card-animazione {
    border-radius: 20px;
}

.card-animazione a {
    text-decoration: none;
}


.card-animazione:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}


/*PAGINA ARTISTI - classi css della homepage ripetute con l'aggiunta del numero 2*/

.testo-artisti-in-mostra2 {
    display: flex;
    margin-bottom: 60px;
}

.testo-artisti-in-mostra2 img {
    width: 312px;
    height: 335px;
    object-fit: cover;
}

.sezione-artisti-in-mostra2 h1 {
    margin-left: 6.6vw;
}

.blocco-card2 {
    margin: 0 auto
}

.card2 {
    padding-inline: 30px;
}

.card-title2 {
    height: 55px;
    font-size: 25px;
    margin-top: -85px;
}

.card-title2 p {
    padding-top: 10px;
}

#sezione-artisti-in-mostra2 {
    margin: 60px 6.6vw 60px 6.6vw;
}


/*Pagine dettaglio artisti*/

.elenco-opere a {
    color: inherit;
}

#button {
    display: inline-block;
    margin: 60px 6.6vw;
}

/*Pagine dettaglio artisti - Sanna Mander*/

#elenco-opere-sannamander a:hover {
    color: #6dc2a4;
}

/*Pagine dettaglio artisti - Michelle Thompson*/

#elenco-opere-michellethompson a:hover {
    color: palevioletred;
}

/*Pagine dettaglio artisti - Icinori*/
#elenco-opere-icinori a:hover {
    color: #e6954a
}


/*Responsive design*/

@media (max-width: 1100px) {
    h1 {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 1.6vw;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 3.125vw;
    }

    h2 {
        font-size: 2vw;
    }
}